html, body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    background-color: #bcd8cf;

    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Navigation Bar */
nav {
    background-color: #FCFCFC;
    padding: 1.875rem; /* 30px */
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 0.9375rem; /* 15px */
}

#logo {
    margin: 0 54.6875rem 0 -2.5rem; /* 875px, -40px */
    width: 15.625rem; /* 250px */
    height: auto;
    float: left;
}

.profile img {
    margin: 0.1875rem 3.75rem 0 0; /* 3px, 60px */
    border-radius: 100%;
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
}

.grade-btns {
    background-image: url("Assets/landing page assets/StockCake-Whimsical Storybook Illustration_1720789194.jpg");
    /*
    background-image: 
        linear-gradient(to left, rgba(111, 167, 179, 1) 0%, rgba(111, 167, 179, 0.5) 50%),
        url("Assets/landing page assets/StockCake-Whimsical Storybook Illustration_1720789194.jpg");
    */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
}

.scroll1 {
    width: 80%; 
    height: 60%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2.5rem; /* 40px */
    border-radius: 3.125rem; /* 50px */
    position: relative;
    z-index: 2;
    display: flex;
    margin-top: 4.375rem; /* 70px */
}


.grade-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -7rem;
}


.grade-btn {
    background-color: #F5D460;
    color: #000000;
    font-size: 1.4375rem; /* 23px */
    padding: 1.25rem; /* 20px */
    font-weight: 700;
    border-radius: 6.25rem; /* 100px */
    border: none;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 15.625rem; /* 250px */
    margin: 0.625rem 4.375rem;
}

#character {
    width: 28.125rem;
    height: auto;
    margin-right: auto; 
    margin: -2.78125rem 5.625rem; 
}

.grade-btn:hover,.grade-btn.active {
    background-color: #F0A500;
}



.grade-banner {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem; 
    font-style: normal;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    padding-right: 6rem;
    padding-top: 4rem;
} 

.select-banner {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5rem; 
    font-style: normal;
    /* font-family: "Inria Sans", sans-serif; */
    font-family: "Butterfly Kids", cursive;
    font-weight: 600;
}



.sec3 {
    background-color: #bcd8cf; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.25rem; 
    padding-left: 13.75rem; /* 80px */
} 

.rectangle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.875rem; /* 30px */
    width: 80%;
    max-width: 60rem; /* 1200px */
    margin-top: -5rem;
}

.rectangle {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 18.75rem; /* 300px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangle img {
    width: 100%;
    height: auto;
    max-height: 15.625rem; /* 250px */
    object-fit: cover;
    border-radius: 0.625rem; /* 10px */
}

.start-button {
    display: inline-block;
    margin-top: -2.1875rem; /* -35px */
    padding: 1.25rem; /* 20px */
    text-decoration: none;
    color: #000000;
    width: 12.5rem; /* 200px */
    font-size: 1.5625rem; /* 25px */
    background-color: #FCD368;
    border-radius: 0.9765625rem; /* 25px */
    font-weight: 600;
    transition: background-color 0.3s;
    box-shadow: inset 0 0.15625rem 0.234375rem rgba(0, 0, 0, 0.3); /* 4px, 6px */
}

.start-button:hover {
    background-color: #ffb907;
}


.track-progress {
    background-image: url('Assets/home page assets/StockCake-Enchanted Story Time_1733289490.jpg'); 
    background-size: cover; 
    background-position: center; 
    text-align: center; 
    padding: 50px 20px; 
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-container {
    background-color: rgba(0, 0, 0, 0.75); /* Black with transparency */
    padding: 30px 20px;
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
}

.track-progress h1 {
    font-family: 'Inria Sans', sans-serif; 
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.track-progress p {
    font-family: 'Inria Sans', sans-serif; 
    font-size: 20px; 
    margin-bottom: 30px;
    font-weight: 400;
    color: white;
}

.track-progress .track-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Inria Sans', sans-serif; 
    font-weight: 700; 
    background-color: #ff9900; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.track-progress .track-btn:hover {
    background-color: #E76F51;
}





.sec4 {
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.665);  
    box-sizing: border-box; 
    font-family: "Inria Sans", sans-serif;
    padding-top: 6%;
    padding-left: 2rem;

}

.sec4 h1 {
    color: #000;
    text-align: center;
    font-family: "Inria Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;


}

.sec4 img {
    width: 529px;
    height: 530px;
    position: relative;
    top: -600px;

}

.lesson {
    padding-top: 5%;
    position: relative;
    left: 50% ;
}

.lesson img {
    width: 68px;
    height: 74px;
    position: absolute;
    left: 0%;
    top: 180px;

}

.lesson h1 {
    color: #000;
    font-family: "Inria Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: -475px;
    top: -30px;
    
}

.lesson p {
    color: #000;
    font-family: "Inria Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 5%;
    left: 115px;
}

.games {
    position: relative;
    left: 50% ;
}

.games img {
    width: 80px;
    height: 58px;
    position: absolute;
    left: 0%;
    top: 150px;

}

.games h1 {
    color: #000;
    font-family: "Inria Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: -550px;
    top: 20px;
    
}

.games p {
    color: #000;
    font-family: "Inria Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 40px;
    left: 115px;
}

.quiz {
    position: relative;
    left: 50% ;
}

.quiz img {
    width: 79px;
    height: 77px;
    position: absolute;
    left: 0%;
    top: 200px;

}

.quiz h1 {
    color: #000;
    font-family: "Inria Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: -580px;
    top: 70px;
    
}

.quiz p {
    color: #000;
    font-family: "Inria Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 100px;
    left: 115px;
}








/* Footer */
footer {
    margin-top: -20rem;
    background-color: #ffffff;
    color: #f8cf66;
    padding: 4.6875rem 1.875rem; /* 75px, 30px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer .footer-btns {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
}

.footer-btns button {
    background-color: #F5D460;
    color: #000000;
    border: none;
    padding: 0.9375rem 1.875rem; /* 15px, 30px */
    border-radius: 6.25rem; /* 100px */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9375rem; /* 15px */
    font-weight: 700;
}

.footer-btns button:hover {
    background-color: #F0A500;
}

.footer-social {
    display: flex;
    gap: 0.9375rem; /* 15px */
}

.footer-social img {
    width: 2.5rem; /* 40px */
    height: auto;
    transition: opacity 0.3s;
}

/* Footer text */
footer p {
    position: absolute;
    right: 1.875rem; /* 30px */
    bottom: 0.625rem; /* 10px */
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    text-align: right;
}






